################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorServerApp/.vs
/BlazorServerApp/BlazorServer/obj
/BlazorServerApp/BlazorServer/bin/Debug/net6.0
/BlazorServerApp/BlazorWebAssembly/bin/Debug/net6.0
/BlazorServerApp/BlazorWebAssembly/obj
/BlazorServerApp/DataAccess/bin/Debug/netstandard2.1
/BlazorServerApp/DataAccess/obj
