@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div class="mt-2">
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

<div class="mt-3">
    <button class="btn btn-primary" @onclick="DecrementCount">UnClick me</button>
</div>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
